body{
    padding: 0;
    margin: 0;
    background-color: $gray-100;
    color: $gray-700;
    font-family: 'Source Sans Pro', sans-serif;
}

.py-6 {
    padding: 4rem 0;
}
.py-7 {
    padding: 5.5rem 0;
}
.py-8 {
    padding: 6rem 0;
}

.pt-6 {
    padding-top: 4rem;
}
.pt-7 {
    padding-top: 5.5rem;
}
.pt-8 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 4rem;
}
.pb-7 {
    padding-bottom: 5.5rem;
}
.pb-8 {
    padding-bottom: 6rem;
}

h1{
    color: $primary;
}
h2{
    color: $primary;
}
h3{
    color: $primary;
}
h4{
    color: $primary;
}
h5{
    color: $primary;
}
h6{
    color: $primary;
}

a{
    text-decoration: none !important;
}

nav{
    padding: 0 !important;
    opacity: 0.9;
    @include shadow-card;

    &.bg-light{ 
        background-color: $white !important; 
    }

    div{
        &.navbar-collapse{
            flex-grow: inherit !important;
        }

        button{
            border-color: rgba($color: #fff, $alpha: 0) !important; 
        }

        ul{
            li{
                a{
                    border-radius: 0 !important;

                    -webkit-transition: background-color 0.3s linear;
                    -moz-transition: background-color 0.3s linear;
                    -o-transition: background-color 0.3s linear;
                    -ms-transition: background-color 0.3s linear;
                    transition: background-color 0.3s linear;
                }

                a:hover{
                    background-color: $primary !important;
                    color: $white !important;
                }

                a:focus{
                    outline: inherit !important;
                }
            }
        }
    }
}

//Carousel
div{
    ol{
        li{
            width: 15px !important;
            height: 15px !important;
        }
    }

    div{
        div{
            div{

                p{
                    border-left: 3px solid $white;
                    padding: 10px;
                    font-size: 18px;
                }

                a{
                    border-left: 3px solid $primary;
                    padding: 10px;

                    @include webkit-transition(background-color 0.3s linear); 
                }

                a:hover{
                    color: $white !important;
                    background-color: $primary;
                    text-decoration: none !important;
                }
            }
        }
    }
}

.white-space{
    margin-top: 70px;
}

.col-12{
    p{
        border: 0;
    }
}
.card{
    border: inherit !important;
    background-color: $gray-100;

    @include webkit-transition(background-color 0.5s linear);

    div{
        div{
            .card-body{
                p{  
                    &.card-text{
                        font-size: 15px !important;
                        border: inherit !important; 
                    }
                }
            }

            #space{
                width: 150px;
                height: 276px;
            }
        }
    }
}
.card:hover{
    @include shadow-card;
    background-color: $white;
}

//Staff
.staff{
    background-color: $white;
    div{
        div{
            div{
                p{
                    padding: 0;
                }
            }
        }
    }
}
.card-group{
    div{
        padding: 25px !important;

        &.staff-card{
            background-color: $white;

            @include webkit-transition(background-color 0.5s linear); 
        }

        &.staff-card:hover{
            box-shadow: 1px 2px 10px #ddd;
            -webkit-box-shadow: 1px 2px 10px #ddd;
            -moz-box-shadow: 1px 2px 10px #ddd;
            background-color: $gray-100;
        }

        div{
            p{
                color: $gray-500;
                border: inherit !important;
                padding: 0;
            }
        }
    }
}

footer{
    background-color: $primary;

    div{
        div{
            div{
                ul{
                    list-style: none;
                    line-height: 40px;
                    padding-left: 0 !important;

                    li{
                        a{
                            color: $white;
                            padding: 10px;
                            border-radius: 0 !important;
    
                            @include webkit-transition(background-color 0.3s linear);
                        }
    
                        a:hover{
                            background-color: $white !important;
                            color: $primary !important;
                        }
                    }
                }
            }

            &.social{
                border-left: 3px $white solid;
            }
        }
    }
}






